<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/main.css" type="text/css">
    <link rel="icon" href="../assets/favicon.png">
</head>

<body>
    <div>
        <a class="pull-left header-a" href="#">HOME</a>
        <a class="pull-left header-a" href="#">SMARTPHONE</a>
        <a class="pull-left header-a" href="#">LAPTOP</a>
        <a class="pull-left header-a" href="#">ACCESSORIES</a>
        <form class="pull-right">
            <input type="text" name="keyword" placeholder="search products">
            <input type="submit" value="search">
        </form>
    </div>
    <hr>
    <div>
        <% if (!session.user) { %>
        <a href="/account/login" class="pull-left header-a">Login</a>
        <a href="/account/signup" class="pull-left header-a">Sign-up</a>
        <% } else { %>
        <p class="pull-left header-a inline">welcome <%= session.user %>!</p>
        <a class="pull-left header-a">Log off</a>
        <% } %>
        <a class="pull-right header-a">My Cart</a>
    </div>
    <hr>
    <div></div>
</body>

</html>