<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/main.css" type="text/css">
</head>
<body>
    <div>
        <a class="pull-left header-a" href="#">HOME</a>
        <a class="pull-left header-a" href="#">SMARTPHONE</a>
        <a class="pull-left header-a" href="#">LAPTOP</a>
        <a class="pull-left header-a" href="#">ACCESSORIES</a>
        <form class="pull-right">
            <input type="text" name="keyword" placeholder="search products">
            <input type="submit" value="search">
        </form>
    </div>
    <hr>
    <div></div>
    <hr>
    <div></div>
</body>
</html>