<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/main.css" type="text/css">
    <link rel="icon" href="../assets/favicon.png">
</head>
<body>
    <div>
        <a class="pull-left header-a" href="#">HOME</a>
        <form class="pull-right">
            <input type="text" name="keyword" placeholder="search products">
            <input type="submit" value="search">
        </form>
    </div>
    <hr>
    <div>
        <a href="/account/login" class="pull-left header-a">Login</a>
        <a href="/account/signup" class="pull-left header-a">Sign-up</a>
    </div>
    <hr>
    <div>
        <form action="/account/login" method="POST">
            <table class="center">
                <h1 class="center">CUSTOMER LOGIN</h1>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Username </td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="LOGIN"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>